<!-- <div class="error" *ngIf="error">{{error}}</div>
<button (click)="addBird()">Add New Bird</button>
<div *ngIf="addingBird">
  <bird-detail (close)="close($event)"></bird-detail>
</div> -->

<ul class="birds">
  <li *ngFor="let bird of birds">
        <img [src]="bird.art" [alt]="bird.imageAlt"/>
      <span class="right"> <p>{{bird.name}}</p>
    <button class="delete-button" style="margin-right: 0px;" (click)="deleteBird(bird, $event)">Delete</button>
  <button class="view-button"(click)="gotoDetail(bird)">View Details</button>
</span>
  </li>
</ul>
