<h2>Backyard Birds of Missouri</h2>

<ul class="birds">
  <li *ngFor="let bird of birds" (click)="onSelect(bird)" [class.selected]="bird === selectedBird">
    <span class="bird-element">
      <span class="badge">{{bird.id}}</span> {{bird.name}}
    </span>
    <button class="delete-button" (click)="deleteBird(bird, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addBird()">Add New Bird</button>
<div *ngIf="addingBird">
  <bird-detail (close)="close($event)"></bird-detail>
</div>

<div *ngIf="selectedBird">
  <h2>
    {{selectedBird.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div>
  <style>
    .hidden { visibility: hidden}
  </style>
  <h4>ngFor Features</h4>
  <button (click)="showNgFor=!showNgFor">{{showNgFor ? 'Hide' : 'Show'}} ngFor Features</button>
  <table [class.hidden]="!showNgFor">
    <tbody>
      <tr *ngFor="let bird of birds; let ix = index; let c = count; let e = even; let o = odd; let f = first; let l = last">
        <td>{{bird.name}}</td>
        <td>{{ix}}</td>
        <td>{{c}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
      </tr>
    </tbody>
  </table>
</div>
