.birds {
  margin: 95px auto 15px auto;
  list-style-type: none;;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.right {
  float: right;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}
.birds li {
  background-color: #EEE;
  margin: 20px auto;
  padding: 0.5em;
  color: #b00017;
  width: 320px;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: right;
}

.birds .badge {
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #949493;
  float: left;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px;
}

button {
  cursor: pointer;
  float: right;
  margin: 10px 10px 0px 10px;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.view-button {
  background-color: black;
  color: white;
}

.view-button:hover {
  background-color: white;
  color: black;
}

.delete-button:hover {
    background-color: white;
    color:#b00017;
}

.delete-button{
  background-color: #b00017;
  color:white;
}
img {
  height: 80px;
  float: left;
  }

  .header {
    max-width: 800px;
    margin: auto;
    padding: 10px;
  }

  a {
    color: black;
  }
    a:hover {
    color: #b00017;
  }
