.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: #dc4b38;
  color: white;
  padding: 10px 0px;
}

.left {
  float: left;
  display: flex;
}
.right {
  float: right;
  display: flex;
}

.toolbar img {
  margin: 0 16px;
  max-height: 45px;
}

.spacer {
  flex: 1 1 auto;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: fixed;
  z-index: 1000;
}

a {
  text-decoration: none;
}

a:hover {
  color: #dc4b38;
  background-color: #c9b5ae;
}

.navigation:hover {
 background-color: #c9b5ae;;
  cursor: pointer;
}

.navigation:focus {
  background-color: #c9b5ae;
  cursor: context-menu;
}

a.active {
  background-color: #c9b5ae;
  cursor: context-menu;
}

p {
  margin: auto;
  letter-spacing: 1px;
  font-size: 2em;
  padding-right: 15px;
}

.navigation {
  color: white;
  margin-right: 9px;
  font-size: 25px;
  padding: 0px 5px;
}

@media (max-width: 642px) {
  p {
    font-size: 15px;
    letter-spacing: normal;
  }
  .navigation {
    font-size: 15px;
  }
  .toolbar img {
    margin: 0px 5px 0px 10px;
  }
  .right {
    display: block;
  }
}
@media (max-width: 350px) {
.toolbar {
  display: block;
}
}
