<div class="toolbar" role="banner">

    <img
      width="40"
      alt="Tour of Backyard Birds Logo"
      src="assets/Bird_white.png"
    />

    <div class="header-bar">Tour of MO Backyard Birds</div>

    <span class="spacer"></span>

      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/birds" routerLinkActive="active">Birds</a>
      <a class="navigation" routerLink="/birds" routerLinkActive="active" aria-label="birds page">
        <span>testing</span>
      </a>

</div>
