div {
  margin: 75px auto 15px auto;
  max-width: 600px;
  position: relative;
}

  label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #b00017;
}

img {
  max-width: 400px;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  color:  white;
  letter-spacing: 1px;
  background-color: #b00017;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c9b5ae;
  color: #b00017;
}

button:disabled {
  background-color: #b00017;
  color: white;
  cursor: auto;
}

@media (max-width: 350px) {
div {
  margin-top: 100px;
}
img {
  max-width: 220px;
}
button {
  position: revert;
}
}
