<div class="header">
  <h3>
      <img alt="Jennifer Bitmoji" src="assets/Jen_Birds.png"/>
    Missouri is a great state for birds. Of the approximately 900 species in North America, more than 400 have been recorded in Missouri, and more than 150 species regularly nest in the state. There are hundreds of great places to watch birds in Missouri.
<br><br>
    You can watch your favorite birds at home by establishing bird-feeding stations, supplying water throughout the year, and planting certain vegetation. Native trees, shrubs, vines, and flowers not only produce food for birds, they also provide cover. <br>
    <a target="_blank" href="https://mdc.mo.gov/property/improve-my-property/wildlife-management/backyard-birds">~ Missouri Department of Conservation</a></h3>
  </div>

<div class="grid grid-pad">
  <div *ngFor="let bird of birds" (click)="gotoDetail(bird)" class="col-1-10">
    <div class="module bird">
      <h3>{{bird.name}}</h3>
      <img [src]="bird.image" [alt]="bird.imageAlt"/>

    </div>
  </div>
</div>
<!-- <app-bird-search></app-bird-search> -->
