body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #333;
  font-family: 'RocknRoll One', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=RocknRoll+One&display=swap');
